body {
  font-family: "Avenir Next";
  height:auto;
}
.header{
  background-color: black;
  height:30px;
}
.header-logo{
  color: white;
  display: inline-block;
  line-height: 30px;
  margin-left: 10px;
}
.main{
  background-color: white;
  height:auto;
}
.main a{
  font-size: 20px
}

.text{
  width: 80%
}
.back{
  margin-top: 20px;
}
.ok{
  margin-top: 20px;
}
